/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
p {
  margin: 0.5em 0; /* 0.5 sopra/sotto, 0 destra/sinistra */
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(sfondo.png);
  background-repeat: repeat-y;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.lista {
  list-style-type: none;
  text-align: center;
}

.primotitolo {
 text-align: center;
}

.principale {
  background-color: rgb(11, 170, 170);
  padding: 50px
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

.sezione-1 {
  background-color: grey;
  padding: 50px;
}

.paragrafo {
  background-color: rgb(0, 102, 255);
  padding: 50px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  /* border-collapse sceglie come comportarsi quando due bordi
    si affiancano */
}

td {
  border: 1px solid black;
  padding: 5px;
  min-width: 150px;
}


th {
  background-color: blue;
}